name: Build Windows EXE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # позволяет запустить вручную

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build executable
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          nuitka --onefile --windows-icon-from-ico=assets/icon.ico main.py
        # можешь добавить иконку:
        # run: pyinstaller --onefile --icon=icon.ico main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-exe
          path: .